*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: digital-7, Helvetica, sans-serif;
}


@font-face {
    font-family: "digital-7";
    src: url("/font/digital-7.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#EDE8F5, #ADBBDA);
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ombra {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 800px;
}

.counter-container {
    background-color: #020402;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 150px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, .8);
}

.counter-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 90px;
    background-color: #C5EFCB;
    height: 85%;
    width: 60%;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    user-select: none;
}

.counter-increase {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 160px;
    background-color: #A9C5A0;
    height: 85%;
    width: 20%;
    margin-right: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.counter-increase:active {
    background-color: #C6DEC6;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
}

.counter-decrease {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 160px;
    background-color: #A9C5A0;
    height: 85%;
    width: 20%;
    margin-right: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.counter-decrease:active {
    background-color: #C6DEC6;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup {
    width: 400px;
    background: rgb(255, 255, 241);
    padding: 0 30px 30px;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    color: #333;
    visibility: hidden;
    transition: .5s;
}


.popup.active {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}


.popup img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -50px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .8);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup .continue-counting {
    width: 100%;
    margin-top: 30px;
    background-color: #C5EFCB;
    padding: 10px 0;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .8);

}